<h1>Listing flavors</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Product</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @flavors.each do |flavor| %>
  <tr>
    <td><%= flavor.id %></td>
    <td><%= flavor.name %></td>
    <td><%= flavor.product_id %></td>
    <td><%= link_to 'Show', flavor %></td>
    <td><%= link_to 'Edit', edit_flavor_path(flavor) %></td>
    <td><%= link_to 'Destroy', flavor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Flavor', new_flavor_path %>
