<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @flavor.id %>
</p>

<p>
  <b>Name:</b>
  <%= @flavor.name %>
</p>

<p>
  <b>Product:</b>
  <%= @flavor.product_id %>
</p>


<%= link_to 'Edit', edit_flavor_path(@flavor) %> |
<%= link_to 'Back', flavors_path %>
