- content_for :title do
  The Real Stuff Ice Cream

#welcome.content_div.left
  .content_div_container
    .content_header
      It's Flavor You Can't Ignore
    .body
      The Real Stuff Ice Cream is made from scratch with fresh ingredients so you are 
      %span.red GUARANTEED 
      the best flavor
#pics.content_div.right
  = image_tag '/images/ice_cream.jpg'
#events.content_div.right
  .content_div_container
    .content_header
      Events
    %hr
    .event
      .date.left
        .day
          05
        .month_year
          %span.blue Feb 
          2012
      .title.left
        Farmer's Market
      .info.left
        .time.right
          %span.time 12:00
          pm
        .address.left
          1234 Main St
          %br
          Ft Collins, CO
        .clear
      .clear
    .event
      .date.left
        .day
          26
        .month_year
          %span.blue July 
          2012
      .title.left
        Heaven Fest
      .info.left
        .time.right
          %span.time 9:00
          am
        .address.left
          The Ranch
          %br
          Loveland, CO
      .clear
    .see_more
      = link_to 'View All Events', root_url #(:subdomain => 'admin')
#feature_flavor.content_div.left
  .content_div_container
    .content_header
      Feature Flavor
    %hr
    .body
      %br
      - if @feature_flavors.count > 0
        = "This month's feature #{pluralize(@feature_flavors.count, 'flavor').sub(/\d/, '')} #{pluralize(@feature_flavors.count, 'is', 'are').sub(/\d/, '')}"
        - @feature_flavors.each do |flavor|
          %span.red= flavor
          = flavor.product
          %br
      - else
        There are currently no feature flavors
#news.content_div.left
  .content_div_container
    .content_header
      News
    %hr
    - if @articles.count > 0
      - @articles.each do |article|
        .article
          .news_title
            =link_to article.title, article_path(article)
          .news_body
            = simple_format truncate(article.body, :length => 100, :omission => '... (continued)')
            -#%br
            -#%br
            %span.continue= link_to 'Continue Reading', article_path(article)
        %br
    
-##media.content_div.right
-#  .video
-#    <iframe src="http://player.vimeo.com/video/21218942?title=0&amp;byline=0&amp;portrait=0" width="490" height="330"frameborder="0"></iframe>
.clear