<%= form_for(@feature_flavor) do |f| %>
  <% if @feature_flavor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feature_flavor.errors.count, "error") %> prohibited this feature_flavor from being saved:</h2>

      <ul>
      <% @feature_flavor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :flavor_id %><br />
    <%= f.text_field :flavor_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
