<h1>Listing feature_flavors</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Flavor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @feature_flavors.each do |feature_flavor| %>
  <tr>
    <td><%= feature_flavor.id %></td>
    <td><%= feature_flavor.flavor_id %></td>
    <td><%= link_to 'Show', feature_flavor %></td>
    <td><%= link_to 'Edit', edit_feature_flavor_path(feature_flavor) %></td>
    <td><%= link_to 'Destroy', feature_flavor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Feature flavor', new_feature_flavor_path %>
