<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @feature_flavor.id %>
</p>

<p>
  <b>Flavor:</b>
  <%= @feature_flavor.flavor_id %>
</p>


<%= link_to 'Edit', edit_feature_flavor_path(@feature_flavor) %> |
<%= link_to 'Back', feature_flavors_path %>
