.footer
  .footer_container
    .info.left
      #company
        The Real Stuff 
        %br
        %span.small Ice Cream
      #phone
        (555)555-0123
      #email
        = mail_to 'testaddress@reaslstufficecream.com'
    #copyright.left
      Copyright &copy; 2012
    .footer_right.right
      #connect
        Stay Connected
        .links
          #facebook.margin
            #facebook_img.left
              = link_to ' ', 'http://www.facebook.com/TheRealStuffIceCream', :target => '_blank'
            .left
              = link_to 'Facebook', 'http://www.facebook.com/TheRealStuffIceCream', :target => '_blank'
            .like.right
              %script
                (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1";   fjs.parentNode.insertBefore(js, fjs); }(    document,     'script', 'facebook-jssdk'));
              %fb:like{:href => 'http://www.facebook.com/TheRealStuffIceCream', :send => 'false', :layout => 'button_count', :width => '50', :show_faces => 'false', :font => 'lucida grande'}
            .clear
          #twitter.margin
            #twitter_img.left
              = link_to ' ', 'http://www.twitter.com/TheRealStuffCO', :target => '_blank'
            .left
              = link_to 'Twitter', 'http://www.twitter.com/TheRealStuffCO', :target => '_blank'
            .tweet.right
              =link_to 'Tweet', 'https://twitter.com/share', :class => 'twitter-share-button', "data-count" => 'horizontal', "data-text" => 'Check out The Real Stuff Ice Cream\'s website!', "data-via" => 'TheRealStuffCO'
              %script{:type => 'text/javascript', :src => 'http://platform.twitter.com/widgets.js'}
            .clear