!!!
%html
  %head
    %title= yield :title
    = stylesheet_link_tag :all
    -#= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Just Me Again Down Here'
    -#= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Schoolbell'
    -#= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Coming Soon'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Walter Turncoat'
    = javascript_include_tag :defaults
    = csrf_meta_tag

  %body
    = render :partial => 'layouts/admin_header'
    - unless current_page?(admin_login_url) or current_page?(admin_sessions_url) or current_page?(admin_root_url)
      = render :partial => 'layouts/admin_menu'
    .content
      = yield