!!!
%html
  %head
    %title= yield :title
    = stylesheet_link_tag :all
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Just Me Again Down Here'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Schoolbell'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Coming Soon'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Walter Turncoat'
    = javascript_include_tag :defaults
    = csrf_meta_tag

  %body
    .wrapper
      = render :partial => 'layouts/header'
      = render :partial => 'layouts/menu'
      .content
        = yield
    = render :partial => 'layouts/footer'
    .clear

