!!!
%html
  %head
    %title= yield :title
    = stylesheet_link_tag :all
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Just Me Again Down Here'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Schoolbell'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Coming Soon'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Walter Turncoat'
    = javascript_include_tag :defaults
    = csrf_meta_tag

  %body
    -#.header
    -#  .header_top
    -#    .header_top_container
    -#      #logo.left
    -#        = link_to image_tag('/images/logo_realstuff.png'), root_path
    -#      %ul.menu.right
    -#        %li.no_margin_left= link_to 'Products', root_path
    -#        %li= link_to 'Services', root_path
    -#        %li=link_to 'About Us', root_path
    -#  .header_bottom
    -#    .header_bottom_container
    -#      #catch_phrase.right Taste So Good You Won't Need Toppings!
    .wrapper
      .header
        .header_top
          .header_top_container
            %ul.quicknav.right
              %li= link_to 'Contact Us', root_path
              %li= link_to image_tag('/images/facebook.png'), root_path
              %li.small_margin= link_to image_tag('/images/twitter.png'), root_path
        .header_bottom
          .header_bottom_container
            #logo.left
              = link_to image_tag('/images/logo_realstuff.png'), root_path
            #catch_phrase.right
              %span.large_phrase
                Taste So Good
              %br
              You Won't Need Toppings
            .clear
      .clear
      -#%hr
      -#.menu_section
      .menu_container
        %ul.menu
          %li= link_to 'Home', root_path
          %li= link_to 'Products', root_path
          %li= link_to 'Services', root_path
          %li.no_margin_right= link_to 'About Us', root_path
      -#%hr
  
      .clear
      = yield
      
    .footer

